# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env

# Virtual Environment
venv/
.venv/

# Vector Database
faiss_index/

# Logs
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# ML Artifacts
*.pkl
*.bin

# Streamlit
.streamlit/

# Cache
.cache/

# Temporary
tmp/
